# Required
TWAP_SIGNER_PRIVATE_KEY=0x...
SUBGRAPH_URL=https://api.studio.thegraph.com/query/...
RPC_URL=https://polygon-rpc.com
ORACLE_ADDRESS=0xAa489b4F076ce1459B48a730eFb981641A91B7c7
TELEGRAM_BOT_TOKEN=
TELEGRAM_GROUP_CHAT_ID=

# Optional
CHAIN_ID=137
PORT=3000
